%h1 My Rides
%table.table.table-striped
  %thead
    %tr
      %th No#
      %th From
      %th To
      %th Distance
      %th Price
      %th Date
      %th Taxi
  %tbody
    - @rides.each_with_index do |r,i|
      %tr
        %th= i+1
        %td= r.from
        %td= r.to
        %td= r.distance
        %td= r.price
        %td= r.rode_date
        %td= r.provider
