=form_for(@ride) do |f|
  %label
    From:
    = f.text_field :from
  %label
    To:
    = f.text_field :to
  %label
    Price
    = f.text_field :price
  %label
    Rode at:
    = f.text_field :rode_date, value: @ride.rode_date || Date.today
  %label
    Provider
    = f.select :provider_id, Ride.providers.invert
  %button{type: :submit} Save








