=form_for(@ride) do |f|
  %label
    From:
    = f.text_field :from
  %label
    To:
    = f.text_field :to
  %label
    Price
    = f.text_field :price
  %label
    Rode at:
    = f.text_field :from
  %label
    Provider
    = f.text_field :from
  %button{type: :submit} Save








